<div class="text-center bg-gray-300 flex items-center justify-center gap-10 p-12">
    <div class="flex-1 bg-blue-200">
        <h3>Opening Hours</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, qui?</p>
    </div>
    <div class="flex-1 bg-blue-200">
        <h3>Opening Hours</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, qui?</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
            sequi?
        </p>
    </div>
    <div class="flex-1 bg-blue-200">
        <p>3icons</p>
    </div>
</div>