<header>
    <div class="flex items-center justify-center bg-blue-200 h-[15vh]">
        <h1 class="text-center">Cinnamon</h1>
    </div>
<div class="bg-gray-200">
    <ul class="flex items-center justify-center gap-4 p-4">
        <li routerLink="/" class="transition-colors duration-200 hover:bg-gray-600 hover:bg-opacity-90 hover:text-white px-3 py-1 cursor-pointer">Home</li>
        <li routerLink="/menu" class="transition-colors duration-200 hover:bg-gray-600 hover:bg-opacity-90 hover:text-white px-3 py-1 cursor-pointer">Menu</li>
    </ul>
</div>
</header>