<div class="">
    <h1 class="bg-blue-200 text-center p-7">Welcome!</h1>
<img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg" alt="Cinnamon Image" class="object-cover w-full h-full w-1/2"/>
<div class="p-10 bg-gray-300">
    <h2 class="text-center">THE PASSION FOR AUTHENTIC TASTE</h2>
    <p class="m-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum minima hic earum explicabo in quam consectetur nam? Iusto sed repellat iste repellendus atque delectus ipsum! Quasi nesciunt voluptate quaerat rerum.</p>
    <img class="mx-auto my-4 w-32 h-32 object-contain" src="https://cse.buffalo.edu/restaurant.guide/top-rated-stamp1.jpg" alt="Best recommended restaurant">
</div>

<div class="flex items-center justify-center gap-10">
    <div class="flex-1">
    <img class="object-cover w-full h-full" src="https://static.wixstatic.com/media/11062b_c27495240643434784bcdb660ec2b8cb~mv2.jpg/v1/fill/w_613,h_1139,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_c27495240643434784bcdb660ec2b8cb~mv2.jpg">
    </div>
    <div class="p-10 flex-1">
        <h2>Catering</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, neque. Nihil nisi eius voluptas! Molestias similique delectus quas nisi. Minus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam consequatur cumque doloremque reiciendis. Blanditiis dolores reprehenderit, eligendi totam maiores aliquam ea nam excepturi illum recusandae laboriosam praesentium fugit sunt exercitationem.</p>
    </div>
</div>
</div>